.App {
    --toolbar-height: 80px;
    --sidenav-width: 130px;
}

.App--Topbar-Wrapper {
    height: var(--toolbar-height);
}

.App--Sidenav-Wrapper {
    position: absolute;
    width: var(--sidenav-width);
    left: 0;
    top: var(--toolbar-height);

    padding: 16px 0;
    background-color: #FFFFFF;
}

.App-Content-Wrapper {
    margin-left: var(--sidenav-width);
}
