.Simple-List-Entry {
    background-color: #cccccc;
    border-radius: 4px;
    padding: 4px 8px;
}

.Simple-List-Entry--title {
    font-size: 20px;
}

.Simple-List-Entry--no-content {
    font-style: italic;
}
