.Simple-List-Entry {
    display: flex;
    background-color: #cccccc;
    border-radius: 4px;
    padding: 4px 8px;
}


.Simple-List-Entry--icon-prefix {
    flex: 50px 0;
    font-size: 36px;
}

.Simple-List-Entry--content {
    flex: 1;
}

.Simple-List-Entry--title {
    font-size: 20px;
}

.Simple-List-Entry--no-content {
    font-style: italic;
}
